{% extends "base.html" %}

{% block title %}PostListView{% endblock %}

{% block content %}
<h1>PostListView</h1>
    <ul>
    {% for post in posts %}
    <li class="post" data-post-hash-id="{{ post.hash_id }}">
        <h3>{{ post.title }}</h3>
        <a href="{% url "api-post" post.hash_id %}">
            <img src="{{ post.thumbnail_image.url }}" width=300 height=300 />
        </a>
        <h5>{{ post.content }}</h5>   
        <h2>Tags({{ post.tag_set.count }})</h2>
            {% for tag in post.tag_set.all %}
                {{ tag.full_name }}
            {% endfor %}
        </ul>
    <p><a  href="#modal" rel="modal:open">크게보기</a></p>
    </li>
    {% endfor %}
    </ul>
<div id="modal" style="display:none;">

</div>
{% endblock %}


