{% load pipeline %}
{% load staticfiles %}
<!DOCTYPE>
<html>
  <head>
    <meta charset=utf-8>
    <link rel="stylesheet" href="{% static "css/classiclass.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/vendor/modal.css" %}" type="text/css">
    <title>{% block title%}{% endblock %} :: ClassiClass</title>
  </head>
  <body>
    {% include "partials/header.html" %}
    {% include "partials/messages.html" %}
    <section id="content">
    {% block content %}
    {% endblock %}
    </section>
    {% include "partials/footer.html" %}

    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static "js/classiclass.js" %}"></script>
    <script type="text/javascript" src="{% static "js/modal.js" %}"></script>
  </body>
</html>
